*{
    box-sizing: border-box;
}
body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 0;
    background-color: #070F2B;
    padding-bottom: 150px;
    display: flex;
    flex-direction: column;
}

.Tarjeta {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-between;
    color: #666;
    margin: 37px;
}
.Tarjeta > div {
    flex: 1 1 200px;  
    margin: 10px;
    max-width: 300px;  
}

.Subtitulos {
    font-size: 35px;
    text-decoration: none;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.Subtitulitos{
    font-size: 22px;
    text-decoration: underline;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-style: italic
}
.Boton1 {
        background-color: #535C91; 
        color: white;              
        padding: 10px 20px;       
        border: none;            
        border-radius: 5px;       
        font-size: 16px;         
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transform: translate(660%, -80%);
        width: auto;   
        text-align: center;

    }

.Boton2 {
        background-color: #535C91; 
        color: white;              
        padding: 10px 20px;       
        border: none;            
        border-radius: 5px;       
        font-size: 16px;         
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transform: translate(660%, -80%);
        width: auto;   
        text-align: center;
        margin: 0 10px; 


    }

.Boton3 {
        background-color: #535C91; 
        color: white;              
        padding: 10px 20px;       
        border: none;            
        border-radius: 5px;       
        font-size: 16px;         
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        transform: translate(660%, -80%);
        width: auto;   
        text-align: center;
        margin: 0 10px; 


    }

.pelicula{
    padding: 20px;
    /* margin: 0 auto; */
    max-width: 1000px;
    background-color: #535C91;
    border-radius: 10px;
    margin: 0 10px; 

}

.detalle-titulo {
    font-size: 2rem;
    color: #333;
    text-align: center;
    margin-bottom: 20px;
}

.detalle-sinopsis {
    font-size: 32px;
    line-height: 1.6;
    color:  #333;
}

.detalles {
    font-size: 18px;
    color: #150743;
    margin-top: 10px;
    text-align: left;

}

.imagenDetalle{
    width: 100%;
    height: auto;
    border-radius: 4px;
    border-color: #535C91;
    max-width: 258px;
}

.nombrePelicula {
    font-size: 38px;
    color: #0d0b3a;
    margin-top: 4px;
    text-decoration: dotted;

}
.contenedor-favoritos {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.loader-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    width: 100vw;  
}
.loader{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.loading{
    display: flex;
    justify-content:flex-start;
    align-items: flex-start;
    text-align: flex-start;
    font-size: 26px;
    font-style: italic ;}


/* Responsive Styles */
@media screen and (max-width: 1200px) {
    .Tarjeta {
        justify-content: space-around;
    }
    
    .Subtitulos {
        font-size: 30px;
    }
     .Boton1, .Boton2, .Boton3 {
        font-size: 14px;
        width: auto;
}}

@media screen and (max-width: 768px) {
    .Tarjeta {
        flex-direction: column;
        margin: 20px;
    }

    .Subtitulos {
        font-size: 28px;
    }

    .pelicula {
        max-width: 90%;
    }

    .detalle-sinopsis {
        font-size: 24px;
    }

    .nombrePelicula {
        font-size: 32px;
    }

    .Boton1, .Boton2, .Boton3 {
        font-size: 14px;
        width: auto;
        transform: none;
    }
    .imagenDetalle {
        max-width: 100%; 
    }
}

@media screen and (max-width: 480px) {
    .Subtitulos {
        font-size: 24px;
    }

    .nombrePelicula {
        font-size: 28px;
    }

    .detalle-sinopsis {
        font-size: 18px;
    }

    .Boton1, .Boton2, .Boton3 {
        font-size: 12px;
    }
    .imagenDetalle {
        max-width: 100%; 
    }
}